[Unit]
Description=Showbits Thermal Printer Tunnel

[Service]
Type=simple
ExecStart=ssh plugh@plugh.de -NR 8005:localhost:8001
Restart=on-failure

User=bondrucker
Group=bondrucker
WorkingDirectory=~

[Install]
WantedBy=multi-user.target
