[Unit]
Description=Showbits Thermal Printer Tunnel

# https://wiki.archlinux.org/title/Systemd#Running_services_after_the_network_is_up
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=ssh plugh@plugh.de -NR 8005:localhost:8001 -o ExitOnForwardFailure=yes
# ExecStart=ssh plugh@plugh.de -NR 1234:localhost:8001 -o ExitOnForwardFailure=yes
Restart=on-failure
RestartSec=1min

User=bondrucker
Group=bondrucker
WorkingDirectory=~

[Install]
WantedBy=multi-user.target
