[Unit]
Description=Showbits Thermal Printer

[Service]
Type=simple
ExecStart=/home/bondrucker/showbits-thermal-printer queue -a 0.0.0.0:8001 -p /dev/usb/lp0
Restart=on-failure

User=bondrucker
Group=bondrucker
WorkingDirectory=~

[Install]
WantedBy=multi-user.target
